<h2><%= @author.name %></h2>
<%= image_tag @author.image %>

<%= link_to 'Edit', edit_author_path(@author) %>
<%= link_to 'Delete', @author, :method => :delete, :data => { :confirm => 'Are you sure?' } %>

<h3>Novels</h3>
<% @author.novels.each do |novel| %>
  <%= link_to novel.title, novel %>
<% end %>