<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="container">
		<nav>
			<ul>
				<li><%= link_to('Authors', authors_path) %></li>
				<li><%= link_to('New Authors', new_author_path) %></li>
				<li><%= link_to('Novels', novels_path) %></li>
				<li><%= link_to('New Novels', new_novel_path) %></li>
			</ul>
		</nav>
		<h1>Library</h1>
</div>

<%= yield %>

</body>
</html>
